.alert {
    position: absolute;
    bottom: 8%;
    right: 1%;
    padding: 12px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
    background-color: white;
    animation: showAlert 0.6s forwards;
}

.alert .icon-thumb {
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.alert .title {
    font-size: 13px;
    color: #000;
    padding: 0 12px;
}

.alert .icon-times {
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.alert .icon-times:hover {
    cursor: pointer;
}

@keyframes showAlert {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.15)
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

/*alert success*/
.alert-success .icon-thumb{
    background-image: url('../../assets/img/alert-success.png');
}

.alert-success .icon-times {
    background-image: url('../../assets/icon/times-alert-success.svg');
}

/*alert error*/
.alert-error .icon-thumb{
    background-image: url('http://100dayscss.com/codepen/alert.png');
}

.alert-error .icon-times {
    background-image: url('../../assets/icon/times-alert-error.svg');
}