:root {
    --primary-color: #1E235A;
    --default-color: #2B3173;
    --content-color: #E5E6EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Tahoma, sans-serif !important;
    font-size: 13px;
}